@model List<ThingsILearned.Models.Post>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>All Posts</h2>
<h3>@Html.ActionLink("New Post","Create","Post")</h3>
<table class="table">
    <tr>
        <th>Name</th>
        <th>Sub-Heading</th>
        <th>Created Date</th>
        <th>Last Modified</th>
        <th>Author</th>
    </tr>
    @foreach (var post in Model)
    {
        <tr>
            
            <td>@Html.ActionLink(post.Title, "Detail", "Post", new { id = post.Id }, null)</td>
            <td>@post.SubHeading</td>
            <td>@post.CreatedDate</td>
            <td>@post.LastModified</td>
            <td>@post.Author</td>
            
        </tr>
    }

</table>


